	            
		<!-- ITEM: Befüllung über Service -->
			<div class="w-col w-col-4 w-dyn-item">
	              <div class="white-box whiteboxamtswahl" data-ix="hover-effect">
	                <a class="linkboxamtswahl w-inline-block">
	                  <h3>%NAME%</h3><img class="grid-image gridimageamtswahl" sizes="100vw">
	                  <div class="adress paragraphamtswahl">%ADRESSE%</div>
	                  <div class="adress paragraphamtswahl">%PLZ% %ORT%</div>
	                  <div class="paragraphamtswahl url">%URL%</div>
	                </a>
	              </div>
	            </div>
		<!-- ITEM ENDE -->