	            
		<!-- ITEM: Befüllung über Service -->
	            <div id="Amt_%ID%" class="w-row">
		            <div class="w-col w-col-4"><img class="summary-logo" sizes="(max-width: 479px) 100vw, (max-width: 767px) 67vw, 16vw" src="%IMAGE%"></div>
		            <div class="w-col w-col-8">
		              <div class="break summary text"><h6>%NAME%</h6></div>
		              <div class="summary text"></div>
		              <div class="break summary text"></div>
		              <div class="summary text">%ADRESSE%</div>
		              <div class="summary text">%PLZ% %ORT%</div>
		              <div class="summary text">%URL%</div>
		            </div>
		          </div>
		<!-- ITEM ENDE -->