

		<!-- ITEM: Befüllung über Service -->
		<div id="serviceCategory_%ID%" class="w-col w-col-4 w-dyn-item">
			<a class="servicecategory_linkbox w-inline-block" href="detail_servicecategory.html?ID=%LINK%">
				<div class="servicecategorycontainer" data-ix="hover-effect">
					<h3 class="servicecategorytitle">%NAME%</h3>
					<img class="serviceimagecatalogue" src="%IMAGE%" data-ix="hover-effect"
						height="80%"
						sizes="(max-width: 479px) 87vw, (max-width: 767px) 90vw, (max-width: 991px) 209.328125px, 279.984375px"
						width="100%">
					<div class="servicecategorytext">%BESCHREIBUNG%</div>
				</div>
			</a>
		</div>
		<!-- ITEM ENDE -->