
		<!-- ITEM: Befüllung über Service -->
		
		<div class="w-dyn-item">
          <div class="document w-row">
            <div class="w-col w-col-1"><img src="%IMAGE%" class="doclogo" sizes="(max-width: 479px) 73vw, (max-width: 767px) 76vw, (max-width: 991px) 5vw, 6vw"></div>
            <div class="doctitle w-col w-col-11">
              <a class="doclinkbox w-inline-block" target="_blank" href="%LINK%">
                <h5 class="doclink">%NAME%</h5>
              </a>
            </div>
          </div>
        </div>
        
		<!-- ITEM ENDE -->