
				  <!-- ITEM: Befüllung über Service -->
                  <div class="w-dyn-item">
                    <div class="white-box whiteboxemployee">
                      <div class="w-row">
                        <div class="w-col w-col-3"><img class="employeeimage" sizes="100vw" src="%IMAGE%"></div>
                        <div class="employeetextframe w-col w-col-9">
                          <div class="employeename">
                            <h3>%VORNAME% %NACHNAME%</h3>
                          </div>
                          <div class="employeetextTop"><h6>%POSITION%<h6></div>
                          <div class="employeetext"><p>%TELEFON%<p></div>
                          <div class="employeetext"><p>%MAIL%<p></div>
                          <div id="EmployeeID" class="employeetext" style="display:none"><p>%ID%</p></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ITEM: Befüllung über Service ENDE -->